<div id="request-popup" class="hidden">
  <div class="heading">
    <h3>Request</h3>
    <ul class="tabset list-inline">
      <li><span class="active" data-src="#tab1">Sample</span></li>
      <li><span data-src="#tab2">Quote</span></li>
    </ul>
  </div>
  <div class="product is-flex is-vcentered has-2items mobile-1items is-multiline">
    <div class="column img">
      <img src="images/img2.jpg" alt="" width="200" height="110">
    </div>
    <div class="column text">
      <strong class="title">Victor Settings</strong>
      <h3>CZ Filigree Ball Bead – SS</h3>
      <span class="series">29192-5</span>
    </div>
  </div>
  <div class="tabs-content">
    <div id="tab1">
      <form action="" class="request-sample-form is-flex is-column-direction">
        <div class="column text-holder">
          <label for="fname">Full Name</label>
          <input type="text" class="txt" placeholder="Steve Smith" id="fname">
        </div>
        <div class="column text-holder">
          <label for="phone-number">Phone Number</label>
          <input type="text" class="txt" placeholder="457-555-1234" id="phone-number">
        </div>
        <div class="column text-holder">
          <label for="email">Email</label>
          <input type="text" class="txt" placeholder="stevesmith@gmail.com" id="email">
        </div>
        <div class="column text-holder">
          <label for="comments">Comments</label>
          <textarea id="comments" class="txt" cols="30" rows="10"></textarea>
        </div>
        <input type="submit" class="button column" value="Request Sample">
      </form>
    </div>
    <div id="tab2" class="hidden">
      <form action="" class="request-quote-form is-flex is-column-direction">
        <div class="column text-holder">
          <label for="fname">Full Name</label>
          <input type="text" class="txt" placeholder="Steve Smith" id="fname">
        </div>
        <div class="column text-holder">
          <label for="phone-number">Phone Number</label>
          <input type="text" class="txt" placeholder="457-555-1234" id="phone-number">
        </div>
        <div class="column text-holder">
          <label for="email">Email</label>
          <input type="text" class="txt" placeholder="stevesmith@gmail.com" id="email">
        </div>
        <div class="column text-holder">
          <label for="address">Address</label>
          <input type="text" class="txt" placeholder="1234 Main St." id="address">
        </div>
        <div class="column text-holder">
          <label for="city">City</label>
          <input type="text" class="txt" placeholder="Beverly Hills" id="city">
        </div>
        <div class="column is-flex has-2items mobile-1items is-multiline flexmargins1">
          <div class="column">
            <div class="text-holder">
              <label for="state">State</label>
              <input type="text" class="txt" placeholder="CA" id="state">
            </div>
          </div>
          <div class="column">
            <div class="text-holder">
              <label for="zip">Zip</label>
              <input type="text" class="txt" placeholder="90210" id="zip">
            </div>
          </div>
        </div>
        <div class="column text-holder">
          <label for="comments">Comments</label>
          <textarea id="comments" class="txt" cols="30" rows="10"></textarea>
        </div>
        <input type="submit" class="button column" value="Request Quote">
      </form>
    </div>
  </div>
  <span class="close-cross"></span>
</div>
<div id="fader" class="hidden"></div>